<ion-content [fullscreen]="true">

    <div id="container">
        <ion-item color="light" style="margin-bottom: 50px;">
            <ion-label>Time duration</ion-label>
            <ion-datetime displayFormat="mm:ss" placeholder="Tap here" [(ngModel)]="restTime"></ion-datetime>
        </ion-item>

        <circle-progress [percent]="percent" [outerStrokeColor]="'#000000'" [outerStrokeGradientStopColor]="'#c2c2c2'" [innerStrokeColor]="'#e8e8e8'" [outerStrokeGradient]="true">
        </circle-progress>

        <p>
            {{ timeSpend.m
            < 10 ? '0'+timeSpend.m : timeSpend.m }} : {{ timeSpend.s < 10 ? '0'+timeSpend.s : timeSpend.s }} </p>

                <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="startTimer()">
                    <ion-fab-button>
                        <ion-icon *ngIf="!goTimer; else stop" name="play"></ion-icon>
                        <ng-template #stop>
                            <ion-icon name="square"></ion-icon>
                        </ng-template>
                    </ion-fab-button>
                </ion-fab>
    </div>

</ion-content>